::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* @font-face {
    font-family: 'Causten';
    src: url('/assets/Font/CAUSTEN-REGULAR.OTF') format('opentype');
} */

body {
    margin: 0;
    padding: 0;
}

.nila-primary {
    color: #a36c29;
}

.nila-p{
    color: #b58940;
}

.banner-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.why-choose-section{
    padding-bottom: 100px;
}

.banner-button{
    background-color: black;
    color: white;
    border: 3px solid #a36c29;
    font-weight: 600;
    border-radius: 24px;
    padding: 5px 30px;
    font-size: 20px;
}

.why-choose-heading{
    font-size: 3rem;
    font-weight: 700;
    padding: 75px;
}

.why-choose-img{
    max-height: 700px;
}

.why-choose-bottle{
    max-height: 600px;
}

.specialities-heading{
    font-size: 3rem;
    font-weight: 700;
}

.spec-img{
    width: 80px;
}

.product-img {
    max-width: 20rem;
}

.product-icon{
    max-width: 14rem;
}

.brand-story-heading{
    font-weight: 700;
    font-size: 2.5rem;
}

/* MOBILE DESIGN START */
@media (max-width: 767px) {
    .header-logo {
        width: 80px;
        margin-top: 30px;
        margin-left: 50px;
    }

    .leafs{
        display: none;
    }

    .banner-heading{
        font-weight: 800;
        font-size: 3rem;
        line-height: 3rem;
    }

    .why-choose-bottle{
        max-height: 525px;
        margin-top: 55px;
    }

    .why-choose-heading{
        font-size: 2rem;
    }

    .why-choose-img-default{
        display: block;
    }

    .why-choose-img-tab{
        display: none;
    }

    .women-oil-leaf{
        display: none;
    }

    .htu-heading{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .htu-sub-heading{
        font-size: 2rem;
        font-weight: 700;
    }
}
/* MOBILE DESIGN END */
 
/* TAB DESIGN START */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-logo{
        width: 120px;
        margin-top: 70px;
        margin-left: 135px;
    }

    .leafs{
        display: none;
    }

    .banner-heading{
        font-weight: 900;
        font-size: 3rem;
        line-height: 3rem;
    }

    .why-choose-img-default{
        display: none;
    }

    .why-choose-img-tab{
        display: block;
    }

    .why-choose-heading{
        font-size: 2.7rem;
    }

    .women-oil-logo{
        max-height: 200px;
    }

    .htu-heading{
        font-size: 2.5rem;
        font-weight: 700;
    }

    .htu-sub-heading{
        font-size: 4rem;
        font-weight: 700;
    }

    .htu-description{
        font-size: 1.2rem;
    }
}
/* TAB DESIGN END */
 
/* SYSTEM DESIGN START */
@media (min-width: 1025px) {
    .header-logo{
        width: 150px;
        margin-top: 70px;
        margin-left: 135px;
    }

    .leaf{
        width:155px;
    }

    .leaf-left{
        margin-top: 100px;
    }

    .banner-heading{
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
    }

    .spec-div{
        padding: 50px;
    }

    .why-choose-img-default{
        display: block;
    }

    .why-choose-img-tab{
        display: none;
    }

    .htu-heading{
        font-size: 2.5rem;
        font-weight: 700;
    }

    .htu-sub-heading{
        font-size: 4rem;
        font-weight: 700;
    }

    .htu-description{
        font-size: 1.2rem;
    }

    .brand-story-description{
        font-size: 1.2rem;
    }
}
/* SYSTEM DESIGN END */